.background{
    background-color: #F2F2F2;
    margin-top: 30px;
    border: 2px solid #000080;
    border-radius: 15px;
    padding: 10px;
}

.background p li{
    font-family: verdana;
}

.background2{
    background-color: #C0C9E0;
    margin-top: 30px;
    border: 3px solid white;
    border-radius: 15px;
    padding: 10px;
}

.background2 p{
    font-family: verdana;
    font-size: small;
}

#black{
    color: black;
}

#bluecolor{
    color: #000080;
    text-align: center;
    background-color: #C0C9E0;
}



#border{
    border: 1px solid black;
    width: 630px;
    margin-left: 144px;
}

#borderright{
    border-right-style: inset;
    border-right-color: #C1C1C1;
}

#carousel {
	margin: 0 0 0 0;
	width: 400px;
	height: 390px;
	padding: 0;
	/*overflow: scroll;*/
	border: 2px solid #999;
}
#carousel ul {
	list-style: none;
	width: 1500px;
	margin: 0;
	padding: 0;
	position: relative;
}
/*#carousel li {
	display: inline;
	float: left;
}*/


#color{
    background-color:  #F4F2EE;
}

#center{
    text-align: center;
}


.gallerysection{
    background-color: #C40C1D;
}

.greyline{
    background-color: #C1C1C1;
    height: 5px;
}

#hnavbar{
    background-color: #F4F2EE;
    list-style-type: none;
    width: 160px;
    margin:9px;
    margin-left: 70px;
    padding: 6px;
    text-align: center;
}

#hnavbar ol{  		
       	    color: #F4F2EE;
       	    border-bottom: 3px solid black;
       	    font-size: 18px;
              
}


#hnavbar ol li{
                margin: 5px;
                padding: 5px;
}

#hnavbar a{
    
    display: block;
    background-color: #F4F2EE;
    border: 1px solid #F4F2EE;
    padding: .5em;
    color: #000000;
}

#hnavbar a:hover{
    background-color: #C1C1C1;
    text-decoration: none;
    color: #ffffff;
}

#justify{
    text-align: justify;
}

#justify2{
    text-align: justify;
    margin-left: 20px;
    width: 650px;
}

#justify3{
    text-align: justify;
    margin-left: 40px;
    width: 655px;
}





#logo{
    position: relative;
    float: left;
    display: inline;
    margin: -130px 0px 20px 40px;
}
.linksection{
    background-color: #F4F2EE;
}



#main-nav{
    margin-left: 170px;
    list-style-type: none;
}


#main-nav li{
    float: left;
    position: relative;
    margin-right: 2px;
    font: 16px italic Verdana, sans serif;
    text-decoration: none;
}


#main-nav a{
    
    display: block;
    background-color: #F4F2EE;
    border: 1px solid #F4F2EE;
    padding: .5em;
    color: #000000;
}

#main-nav a:hover{
    background-color: #ffffff;
    text-decoration: none;
    color: #000000;
}

/*
#main-nav ol{
    background:#fff; 
    background:rgba(255,255,255,0); 
    list-style:none;
    position:absolute;
    left:-9999px;
}

#main-nav ol li{
    padding-top: 1px;
    float: none;
}

#main-nav ol a{
    white-space: nowrap;
}

#main-nav li:hover ol{
    left: 0;
}

#main-nav li:hover a{
    background: #ffffff;
}

#main-nav li:hover ol a{
    text-decoration: none;
}

#main-nav li:hover ol li a:hover{
    background: #ffffff;
}*/


#navigation{
    margin-left: 160px;
    margin-top:30px;
    list-style-type: none;
} 

#navigation li{
    float: left;
    margin-right: 5px;
    font: 16px italic Verdana, sans serif;
}

#navigation li a{
    display: block;
    background-color: #C0C9E0;
    border: 1px solid #C0C9E0;
    padding: .5em;
    color: #000080;
}

#navigation li a:hover{
    background-color: #ffffff;
    text-decoration: none;
    color: #000000;
}

.nav{
    background-color: #F4F2EE;
}

.piedpage{
    margin-top: 12px;
}


#placement{
    margin-top: 9px;
    text-align: justify;
    width: 800px;
}

#placement1{
    margin-top: 9px;
    margin-left: 60px;
    text-align: justify;
    width: 680px;
}

#placement2{
    margin-top: 9px;
}

#placement3{
    margin-top: 9px;
    margin-left: 66px;
}

#redbackground{
    background-color: #C40C1D;
    text-align: center;
    color:#ffffff;
    margin:25px;
    padding:10px;
    font-size: large;
}

.redline    {
        background-color: #C40C1D;
        height: 5px;
}


#size{
    width:960px;
    height:150px;
}

.span12 h1{
    font-family: italic verdana;
    font-size: 25px;
    text-align: center;
    margin-top:5px;
}

.span12 h3{
    font-family: italic verdana;
    font-size: 20px;
    text-align: center;
}

table, th, td
{
border: 1px solid black;
}

table
{
border-collapse:collapse;
}

table,th, td
{
border: 1px solid black;
}

table 
{
width:960px;
}
th
{
height:50px;
}

table, td, th
{
border:1px solid #000080;
}
th
{
background-color:#C0C9E0;
color:#000080;
}

td
{
padding:5px;

}


.thumb{
    height:100px;
    width:100px;
}

