/*****project presentation pages*****/

.background{
    background-color: #F2F2F2;
    margin-top: 30px;
    border: 2px solid #000080;
    border-radius: 15px;
    padding: 10px;
}

.background p li{
    font-family: verdana;
}

.background2{
    background-color: #C0C9E0;
    margin-top: 30px;
    border: 3px solid white;
    border-radius: 15px;
    padding: 10px;
}

.background2 p{
    font-family: verdana;
    font-size: small;
}

.bluecolor{
    color: #000080;
    text-align: center;
    background-color: #C0C9E0;
}

.border{
    border: 1px solid black;
    width: 645px;
    margin-left: 145px;
}

.CAtable{
    margin-top:20px;
    width:940px;
}

.center{
    text-align: center;
}

.content{
    margin-left:20px;
}

.hidediv{
    display:none;
}

.placement{
    margin-top: 9px;
    text-align: justify;
    width: 880px;
}

.placement1{
    margin-top: 9px;
    margin-left: 60px;
    text-align: justify;
    width: 760px;
}

.totop{
    text-align:right;
    margin-top:30px;
    padding-top:0px;
    margin-right:4px;
}

#contact{
    display:none;
}

#piedpage{
    margin-top: 20px;
}




/*****end project presentation pages*****/


.carousel{
    margin-top: 20px;
    border: 4px solid white;
}

#color{
    background-color:  #F4F2EE;
}




#design{
    font-family: Calibri;
    font-size: large;
    margin-left:34px;
}

#design2{
    margin-left: 45px;
}

#design3{
    font-family: Calibri;
    text-align:left;
    margin-left:35px;
    font-size:large;
    color:#C40C1D;
}

#design4{
    border: 1px solid #C1C1C1;
    margin-left: 34px;
    height: 50px;
}
 #design5{
    font-family: Calibri;
    font-size: large;
    margin-left:34px;
    color: green;
}

.homelinks{
    text-decoration:none;
}

.homelinks:hover{
    font-style:italic;
    text-decoration:none;
}


.social{
    margin-left:10px;
}


.dropdown-menu{
    background-color: #F4F2EE;
}

.dropdown-menu li{
    width: 280px;
}





.gallerysection{
    background-color: #C40C1D;
    width:980px;
}


.greyline{
    background-color: #C1C1C1;
    height: 5px;
    width:980px;
}

#grey{
    color: #778899;
}

/*****GATEWAYS*****/
#center2{
    text-align: center;
    margin-top:20px;
    color: white;
}

#hnavbar{
    background-color: #F4F2EE;
    list-style-type: none;
    width: 180px;
    margin-left: 50px;
    border: 4px solid #C1C1C1;
}

.black{
    color: black;
    font: 14px italic Verdana, sans serif;
    padding:10px;
}

#black_last{
    color: black;
    font: 14px italic Verdana, sans serif;
    padding:10px;
}

#hnavbar a{
    display: block;
    background-color: #F4F2EE;
    padding: 10px;
    color: #000000;

}

#hnavbar a:hover{
    background-color: #C1C1C1;
    text-decoration: none;
    color: #ffffff;
}

/*****end gateways*****/


#horizontal{
    border: 1px dotted;
    width: 250px;
    color:#C1C1C1;
    margin-left:25px;
}

#imageplace{
    margin-left: 80px;
}

#justify{
    text-align: justify;
}

#justify2{
    text-align: justify;
    margin-left: 20px;
    width: 650px;
}

#justify3{
    text-align: justify;
    margin-left: 40px;
    width: 655px;
}





#logo{
    position: relative;
    float: left;
    display: inline;
    margin: -130px 0px 20px 20px;
}
.linksection{
    background-color: #F4F2EE;
    width:980px;
    margin-left: 1px;
    padding-bottom:20px;
}


/*****ULL REDESIGN NAVIGATION BAR*****/
.nav{
    list-style-type:none;
}

.main-nav-{
    display:block;
    position:relative;
    float:left;
    font: 16px italic Verdana, sans serif;
    text-decoration:none;
    margin-bottom: 5px;


}

.main-nav- a{
    display:block;
    width:143px;
    padding:10px;
    text-align:center;
    color:black;
    background-color:#F4F2EE;
}

.navx {
    display: none;
    list-style-type:none;
    position:absolute;
    left:-25px;
    z-index: 1;
}

.navx li a{
    font-size:13.5px;
    text-decoration:none;
    text-align:left;
}

.navx li a:hover{
    color:#F4F2EE;
}


.list_fleur{
    display:none;
    float:left;
    width:20px;
    height:20px;
    padding-right:5px;
}

/*****end navigation bar*****/


#mapplace{
    position: relative;
    float: left;
    display: inline;
    margin-top: -140px;
    margin-left: 790px;
    width: 200px;
    color:#C40C1D;
}




#project_pages_navigation {
    margin-left: 175px;
    margin-top:30px;
    list-style-type: none;
} 

#project_pages_navigation li{
    float: left;
    margin-right: 5px;
    font: 16px italic Verdana, sans serif;
}

#project_pages_navigation li a{
    display: block;
    background-color: #C0C9E0;
    border: 1px solid #C0C9E0;
    padding: .5em;
    color: #000080;
}

#project_pages_navigation li a:hover{
    background-color: #ffffff;
    text-decoration: none;
    color: #000000;
}




#placement2{
    margin-top: 9px;
}

#placement3{
    margin-top: 19px;
    margin-left: 66px;
    margin-bottom:25px;
}

#placement4{
    margin-top: 9px;
    color: #C40C1D;
    text-align: center;
}


.principal{
    width: 360px;
}

#redbackground{
    background-color: #C40C1D;
    text-align: center;
    color:#ffffff;
    margin:25px;
    padding:10px;
    font-size: large;
}

.redline2    {
        background-color: #C40C1D;
        height: 5px;
        width: 980px;
        width:980px;
        margin-left: 1px;
}

.redline    {
        background-color: #C40C1D;
        height: 5px;
        width: 980px;
        margin:0;
}

#redcolor{
    color: #C40C1D;
    font-family: Arial, sans;
    font-size:12px;
}

#search{
    width: 140px;
}


#searchplace{
    position: relative;
    float: left;
    display: inline;
    margin-top: -110px;
    margin-left: 785px;
    width: 165px;
    height: 30px;
   
}

#searchlogo{
    position: relative;
    float: left;
    margin-top: -103px;
    margin-left: 925px;
    width: 20px;
    height: 20px;

}


#size{
   width: 980px;
    height:150px;
}

.span12 h1{
    font-family: italic verdana;
    font-size: 25px;
    text-align: center;
    margin-top:5px;
}

.span12 h3{
    font-family: italic verdana;
    font-size: 20px;
    text-align: center;
}

table, th, td
{
border: 1px solid black;
}

table
{
border-collapse:collapse;
}

table,th, td
{
border: 1px solid black;
}

table 
{
width:960px;
}
th
{
height:50px;
}

table, td, th
{
border:1px solid #000080;
}
th
{
background-color:#C0C9E0;
color:#000080;
}

td
{
padding:5px;

}



#wf5    {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input::-webkit-input-placeholder {font-style:italic;font-size:10px;}

input:-moz-placeholder {font-style:italic;font-size:10px;}

