body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Research_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:180px;
    top:307px;
    width:601px;
    height:520px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:607px;
    height:526px;
}

.u1 {
    position:absolute;
    left:2px;
    top:252px;
    width:597px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:180px;
    top:307px;
    width:601px;
    height:520px
}

.u2_original {
    background-image: url('../Research_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:780px;
    top:308px;
    width:180px;
    height:521px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:527px;
}

.u3 {
    position:absolute;
    left:2px;
    top:252px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:780px;
    top:308px;
    width:180px;
    height:521px
}

.u4_original {
    background-image: url('../Research_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:311px;
    width:180px;
    height:538px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:544px;
}

.u5 {
    position:absolute;
    left:2px;
    top:261px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:0px;
    top:311px;
    width:180px;
    height:538px
}

.u6_original {
    background-image: url('../Research_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:834px;
    width:960px;
    height:111px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:117px;
}

.u7 {
    position:absolute;
    left:2px;
    top:48px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:0px;
    top:834px;
    width:960px;
    height:111px
}

.u8_original {
    background-image: url('../Research_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:211px;
    width:180px;
    height:80px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u9 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:0px;
    top:211px;
    width:180px;
    height:80px
}

.u10_original {
    background-image: url('../Research_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:180px;
    top:209px;
    width:600px;
    height:82px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:606px;
    height:88px;
}

.u11 {
    position:absolute;
    left:2px;
    top:33px;
    width:596px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:180px;
    top:209px;
    width:600px;
    height:82px
}

.u12_original {
    background-image: url('../Research_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:7px;
    width:960px;
    height:150px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:960px;
    height:150px;
}

.u13 {
    position:absolute;
    left:2px;
    top:67px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:0px;
    top:7px;
    width:960px;
    height:150px
}

.u14_original {
    background-image: url('../Research_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:-1px;
    top:1px;
    width:960px;
    height:5px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:11px;
}

.u15 {
    position:absolute;
    left:2px;
    top:-6px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:-1px;
    top:1px;
    width:960px;
    height:5px
}

.u16_original {
    background-image: url('../Research_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:37px;
    top:32px;
    width:99px;
    height:87px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:99px;
    height:87px;
}

.u17 {
    position:absolute;
    left:2px;
    top:36px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:37px;
    top:32px;
    width:99px;
    height:87px
}

.u18_original {
    background-image: url('../Research_files/u14_original.png');
}

.u18_container {
    position:absolute;
    left:0px;
    top:943px;
    width:960px;
    height:5px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:11px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-6px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:0px;
    top:943px;
    width:960px;
    height:5px
}

.u20_original {
    background-image: url('../Research_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:90px;
    top:854px;
    width:60px;
    height:60px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u21 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:90px;
    top:854px;
    width:60px;
    height:60px
}

.u22_original {
    background-image: url('../Research_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:291px;
    width:960px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:0px;
    top:291px;
    width:960px;
    height:20px
}

.u24_original {
    background-image: url('../Research_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:827px;
    width:960px;
    height:7px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:13px;
}

.u25 {
    position:absolute;
    left:2px;
    top:-4px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:0px;
    top:827px;
    width:960px;
    height:7px
}

.u26 {
    position:absolute;
    left:244px;
    top:238px;
    width:180px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_original {
    background-image: url('../Research_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:248px;
    top:316px;
    width:462px;
    height:220px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:462px;
    height:220px;
}

.u28 {
    position:absolute;
    left:2px;
    top:102px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:248px;
    top:316px;
    width:462px;
    height:220px
}

.u29 {
    position:absolute;
    left:181px;
    top:580px;
    width:589px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:38px;
    top:361px;
    width:150px;
    height:198px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_original {
    background-image: url('../Research_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:780px;
    top:211px;
    width:180px;
    height:80px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u32 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:780px;
    top:211px;
    width:180px;
    height:80px
}

.u33 {
    position:absolute;
    left:784px;
    top:217px;
    width:170px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:38px;
    top:292px;
    width:150px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:790px;
    top:735px;
    width:170px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_container {
    position:absolute;
    left:770px;
    top:356px;
    width:200px;
    height:75px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:75px;
}

.u37 {
    position:absolute;
    left:2px;
    top:30px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:770px;
    top:356px;
    width:200px;
    height:75px
}

.u38 {
    position:absolute;
    left:713px;
    top:857px;
    width:160px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:245px;
    top:561px;
    width:465px;
    height:247px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:180px;
    top:854px;
    width:300px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:794px;
    top:20px;
    width:170px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_original {
    background-image: url('../Research_files/u42_original.png');
}

.u42_container {
    position:absolute;
    left:788px;
    top:49px;
    width:161px;
    height:30px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:36px;
}

.u43 {
    position:absolute;
    left:2px;
    top:7px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:788px;
    top:49px;
    width:161px;
    height:30px
}

.u44 {
    position:absolute;
    left:790px;
    top:51px;
    width:158px;
    height:26px;
    ;
    ;
    text-align: left;;
    font-family:'Helvetica Neue';
    font-size: 10px;
    color:#555555;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u45_original {
    background-image: url('../Research_files/u45_original.png');
}

.u45_container {
    position:absolute;
    left:927px;
    top:55px;
    width:20px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:927px;
    top:55px;
    width:20px;
    height:20px
}

.u47_original {
    background-image: url('../Research_files/u47_original.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:161px;
    width:960px;
    height:39px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:45px;
}

.u48 {
    position:absolute;
    left:2px;
    top:12px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:0px;
    top:161px;
    width:960px;
    height:39px
}

.u49_text {
    position:absolute;
    left:60px;
    top:172px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:60px;
    top:172px;
    width:150px;
    height:20px
}

.u50_text {
    position:absolute;
    left:180px;
    top:172px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:180px;
    top:172px;
    width:150px;
    height:20px
}

.u51_text {
    position:absolute;
    left:380px;
    top:172px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:380px;
    top:172px;
    width:150px;
    height:20px
}

.u52_text {
    position:absolute;
    left:530px;
    top:172px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:530px;
    top:172px;
    width:150px;
    height:20px
}

.u53_text {
    position:absolute;
    left:700px;
    top:172px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:700px;
    top:172px;
    width:150px;
    height:20px
}

.u54_text {
    position:absolute;
    left:850px;
    top:172px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:850px;
    top:172px;
    width:150px;
    height:20px
}

.u55_original {
    background-image: url('../Research_files/u55_original.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:206px;
    width:960px;
    height:5px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:11px;
}

.u56 {
    position:absolute;
    left:2px;
    top:-6px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:0px;
    top:206px;
    width:960px;
    height:5px
}

