body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Admission_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:180px;
    top:201px;
    width:601px;
    height:80px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:607px;
    height:86px;
}

.u1 {
    position:absolute;
    left:2px;
    top:32px;
    width:597px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:180px;
    top:201px;
    width:601px;
    height:80px
}

.u2_original {
    background-image: url('../Admission_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:302px;
    width:180px;
    height:554px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:560px;
}

.u3 {
    position:absolute;
    left:2px;
    top:269px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:0px;
    top:302px;
    width:180px;
    height:554px
}

.u4_original {
    background-image: url('../Admission_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:780px;
    width:960px;
    height:80px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:86px;
}

.u5 {
    position:absolute;
    left:2px;
    top:32px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:0px;
    top:780px;
    width:960px;
    height:80px
}

.u6_original {
    background-image: url('../Admission_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:780px;
    top:288px;
    width:180px;
    height:488px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:494px;
}

.u7 {
    position:absolute;
    left:2px;
    top:236px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:780px;
    top:288px;
    width:180px;
    height:488px
}

.u8_original {
    background-image: url('../Admission_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:200px;
    width:180px;
    height:80px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u9 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:0px;
    top:200px;
    width:180px;
    height:80px
}

.u10_original {
    background-image: url('../Admission_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:181px;
    top:288px;
    width:599px;
    height:489px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:605px;
    height:495px;
}

.u11 {
    position:absolute;
    left:2px;
    top:236px;
    width:595px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:181px;
    top:288px;
    width:599px;
    height:489px
}

.u12_original {
    background-image: url('../Admission_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:160px;
    width:960px;
    height:30px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:36px;
}

.u13 {
    position:absolute;
    left:2px;
    top:7px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:0px;
    top:160px;
    width:960px;
    height:30px
}

.u14_original {
    background-image: url('../Admission_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:7px;
    width:960px;
    height:150px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:960px;
    height:150px;
}

.u15 {
    position:absolute;
    left:2px;
    top:67px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:0px;
    top:7px;
    width:960px;
    height:150px
}

.u16_original {
    background-image: url('../Admission_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:37px;
    top:32px;
    width:99px;
    height:87px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:99px;
    height:87px;
}

.u17 {
    position:absolute;
    left:2px;
    top:36px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:37px;
    top:32px;
    width:99px;
    height:87px
}

.u18 {
    position:absolute;
    left:788px;
    top:50px;
    width:123px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19_original {
    background-image: url('../Admission_files/u19_original.png');
}

.u19_container {
    position:absolute;
    left:924px;
    top:51px;
    width:25px;
    height:25px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:924px;
    top:51px;
    width:25px;
    height:25px
}

.u21_line {
    background-image: url('../Admission_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:242px;
    top:160px;
    width:3px;
    height:30px;
}

.u21 {
    position:absolute;
    left:242px;
    top:160px;
    width:3px;
    height:30px
}

.u22_line {
    background-image: url('../Admission_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:372px;
    top:160px;
    width:3px;
    height:30px;
}

.u22 {
    position:absolute;
    left:372px;
    top:160px;
    width:3px;
    height:30px
}

.u23_line {
    background-image: url('../Admission_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:494px;
    top:160px;
    width:3px;
    height:30px;
}

.u23 {
    position:absolute;
    left:494px;
    top:160px;
    width:3px;
    height:30px
}

.u24_line {
    background-image: url('../Admission_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:594px;
    top:160px;
    width:3px;
    height:30px;
}

.u24 {
    position:absolute;
    left:594px;
    top:160px;
    width:3px;
    height:30px
}

.u25_line {
    background-image: url('../Admission_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:694px;
    top:160px;
    width:3px;
    height:30px;
}

.u25 {
    position:absolute;
    left:694px;
    top:160px;
    width:3px;
    height:30px
}

.u26_original {
    background-image: url('../Admission_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:861px;
    width:960px;
    height:5px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:11px;
}

.u27 {
    position:absolute;
    left:2px;
    top:-6px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:0px;
    top:861px;
    width:960px;
    height:5px
}

.u28_original {
    background-image: url('../Admission_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:129px;
    top:785px;
    width:50px;
    height:50px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u29 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:129px;
    top:785px;
    width:50px;
    height:50px
}

.u30 {
    position:absolute;
    left:41px;
    top:837px;
    width:856px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_original {
    background-image: url('../Admission_files/u31_original.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:280px;
    width:960px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:0px;
    top:280px;
    width:960px;
    height:20px
}

.u33_original {
    background-image: url('../Admission_files/u33_original.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:773px;
    width:960px;
    height:7px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:13px;
}

.u34 {
    position:absolute;
    left:2px;
    top:-4px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:0px;
    top:773px;
    width:960px;
    height:7px
}

.u35 {
    position:absolute;
    left:244px;
    top:224px;
    width:180px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:38px;
    top:348px;
    width:150px;
    height:225px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_original {
    background-image: url('../Admission_files/u37_original.png');
}

.u37_container {
    position:absolute;
    left:780px;
    top:200px;
    width:180px;
    height:80px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u38 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:780px;
    top:200px;
    width:180px;
    height:80px
}

.u39 {
    position:absolute;
    left:784px;
    top:207px;
    width:170px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40_container {
    position:absolute;
    left:244px;
    top:302px;
    width:471px;
    height:220px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:471px;
    height:220px;
}

.u41 {
    position:absolute;
    left:2px;
    top:102px;
    width:467px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:244px;
    top:302px;
    width:471px;
    height:220px
}

.u42 {
    position:absolute;
    left:39px;
    top:283px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_original {
    background-image: url('../Admission_files/u26_original.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:1px;
    width:960px;
    height:5px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:11px;
}

.u44 {
    position:absolute;
    left:2px;
    top:-6px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:0px;
    top:1px;
    width:960px;
    height:5px
}

.u45 {
    position:absolute;
    left:784px;
    top:691px;
    width:170px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:244px;
    top:550px;
    width:466px;
    height:150px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:800px;
    top:20px;
    width:120px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_text {
    position:absolute;
    left:190px;
    top:170px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:190px;
    top:170px;
    width:150px;
    height:15px
}

.u49_text {
    position:absolute;
    left:250px;
    top:170px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:250px;
    top:170px;
    width:150px;
    height:15px
}

.u50_text {
    position:absolute;
    left:400px;
    top:170px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:400px;
    top:170px;
    width:150px;
    height:15px
}

.u51_text {
    position:absolute;
    left:510px;
    top:170px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:510px;
    top:170px;
    width:150px;
    height:15px
}

.u52_text {
    position:absolute;
    left:610px;
    top:170px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:610px;
    top:170px;
    width:150px;
    height:15px
}

.u53_text {
    position:absolute;
    left:710px;
    top:170px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:710px;
    top:170px;
    width:150px;
    height:15px
}

.u54 {
    position:absolute;
    left:801px;
    top:786px;
    width:170px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_container {
    position:absolute;
    left:790px;
    top:349px;
    width:160px;
    height:271px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:271px;
}

.u56 {
    position:absolute;
    left:2px;
    top:128px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:790px;
    top:349px;
    width:160px;
    height:271px
}

