body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Admission_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:180px;
    top:209px;
    width:601px;
    height:83px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:607px;
    height:89px;
}

.u1 {
    position:absolute;
    left:2px;
    top:34px;
    width:597px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:180px;
    top:209px;
    width:601px;
    height:83px
}

.u2_original {
    background-image: url('../Admission_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:309px;
    width:180px;
    height:558px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:564px;
}

.u3 {
    position:absolute;
    left:2px;
    top:271px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:0px;
    top:309px;
    width:180px;
    height:558px
}

.u4_original {
    background-image: url('../Admission_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:780px;
    top:299px;
    width:180px;
    height:570px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:576px;
}

.u5 {
    position:absolute;
    left:2px;
    top:277px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:780px;
    top:299px;
    width:180px;
    height:570px
}

.u6_original {
    background-image: url('../Admission_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:211px;
    width:180px;
    height:80px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u7 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:0px;
    top:211px;
    width:180px;
    height:80px
}

.u8_original {
    background-image: url('../Admission_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:181px;
    top:299px;
    width:599px;
    height:580px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:605px;
    height:586px;
}

.u9 {
    position:absolute;
    left:2px;
    top:282px;
    width:595px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:181px;
    top:299px;
    width:599px;
    height:580px
}

.u10_original {
    background-image: url('../Admission_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:7px;
    width:960px;
    height:150px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:960px;
    height:150px;
}

.u11 {
    position:absolute;
    left:2px;
    top:67px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:0px;
    top:7px;
    width:960px;
    height:150px
}

.u12_original {
    background-image: url('../Admission_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:37px;
    top:32px;
    width:99px;
    height:87px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:99px;
    height:87px;
}

.u13 {
    position:absolute;
    left:2px;
    top:36px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:37px;
    top:32px;
    width:99px;
    height:87px
}

.u14_original {
    background-image: url('../Admission_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:291px;
    width:960px;
    height:20px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:26px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:0px;
    top:291px;
    width:960px;
    height:20px
}

.u16 {
    position:absolute;
    left:244px;
    top:235px;
    width:180px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:38px;
    top:359px;
    width:150px;
    height:270px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_original {
    background-image: url('../Admission_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:780px;
    top:211px;
    width:180px;
    height:80px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u19 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:780px;
    top:211px;
    width:180px;
    height:80px
}

.u20 {
    position:absolute;
    left:784px;
    top:218px;
    width:170px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21_container {
    position:absolute;
    left:244px;
    top:317px;
    width:471px;
    height:220px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:471px;
    height:220px;
}

.u22 {
    position:absolute;
    left:2px;
    top:102px;
    width:467px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:244px;
    top:317px;
    width:471px;
    height:220px
}

.u23 {
    position:absolute;
    left:39px;
    top:293px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_original {
    background-image: url('../Admission_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:1px;
    width:960px;
    height:5px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:11px;
}

.u25 {
    position:absolute;
    left:2px;
    top:-6px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:0px;
    top:1px;
    width:960px;
    height:5px
}

.u26 {
    position:absolute;
    left:784px;
    top:740px;
    width:170px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:244px;
    top:561px;
    width:466px;
    height:228px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:793px;
    top:20px;
    width:170px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_original {
    background-image: url('../Admission_files/u29_original.png');
}

.u29_container {
    position:absolute;
    left:787px;
    top:49px;
    width:161px;
    height:30px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:36px;
}

.u30 {
    position:absolute;
    left:2px;
    top:7px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:787px;
    top:49px;
    width:161px;
    height:30px
}

.u31 {
    position:absolute;
    left:789px;
    top:51px;
    width:158px;
    height:26px;
    ;
    ;
    text-align: left;;
    font-family:'Helvetica Neue';
    font-size: 10px;
    color:#555555;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u32_original {
    background-image: url('../Admission_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:926px;
    top:55px;
    width:20px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:926px;
    top:55px;
    width:20px;
    height:20px
}

.u34_original {
    background-image: url('../Admission_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:161px;
    width:960px;
    height:39px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:45px;
}

.u35 {
    position:absolute;
    left:2px;
    top:12px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:0px;
    top:161px;
    width:960px;
    height:39px
}

.u36_text {
    position:absolute;
    left:60px;
    top:172px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:60px;
    top:172px;
    width:150px;
    height:20px
}

.u37_text {
    position:absolute;
    left:180px;
    top:172px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:180px;
    top:172px;
    width:150px;
    height:20px
}

.u38_original {
    background-image: url('../Admission_files/u38_original.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:837px;
    width:960px;
    height:111px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:117px;
}

.u39 {
    position:absolute;
    left:2px;
    top:48px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:0px;
    top:837px;
    width:960px;
    height:111px
}

.u40_text {
    position:absolute;
    left:380px;
    top:172px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:380px;
    top:172px;
    width:150px;
    height:20px
}

.u41_text {
    position:absolute;
    left:530px;
    top:172px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:530px;
    top:172px;
    width:150px;
    height:20px
}

.u42_text {
    position:absolute;
    left:700px;
    top:172px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:700px;
    top:172px;
    width:150px;
    height:20px
}

.u43_text {
    position:absolute;
    left:850px;
    top:172px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:850px;
    top:172px;
    width:150px;
    height:20px
}

.u44_original {
    background-image: url('../Admission_files/u44_original.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:206px;
    width:960px;
    height:5px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:11px;
}

.u45 {
    position:absolute;
    left:2px;
    top:-6px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:0px;
    top:206px;
    width:960px;
    height:5px
}

.u46_original {
    background-image: url('../Admission_files/u24_original.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:946px;
    width:960px;
    height:5px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:11px;
}

.u47 {
    position:absolute;
    left:2px;
    top:-6px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:0px;
    top:946px;
    width:960px;
    height:5px
}

.u48_original {
    background-image: url('../Admission_files/u48_original.png');
}

.u48_container {
    position:absolute;
    left:90px;
    top:857px;
    width:60px;
    height:60px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u49 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:90px;
    top:857px;
    width:60px;
    height:60px
}

.u50_original {
    background-image: url('../Admission_files/u24_original.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:832px;
    width:960px;
    height:5px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:11px;
}

.u51 {
    position:absolute;
    left:2px;
    top:-6px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:0px;
    top:832px;
    width:960px;
    height:5px
}

.u52 {
    position:absolute;
    left:180px;
    top:857px;
    width:300px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:713px;
    top:867px;
    width:160px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:797px;
    top:515px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_container {
    position:absolute;
    left:817px;
    top:540px;
    width:110px;
    height:50px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:50px;
}

.u56 {
    position:absolute;
    left:2px;
    top:17px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:817px;
    top:540px;
    width:110px;
    height:50px
}

.u57_original {
    background-image: url('../Admission_files/u57_original.png');
}

.u57_container {
    position:absolute;
    left:800px;
    top:367px;
    width:48px;
    height:78px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:78px;
}

.u58 {
    position:absolute;
    left:2px;
    top:31px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:800px;
    top:367px;
    width:48px;
    height:78px
}

.u59_original {
    background-image: url('../Admission_files/u59_original.png');
}

.u59_container {
    position:absolute;
    left:848px;
    top:367px;
    width:92px;
    height:78px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:92px;
    height:78px;
}

.u60 {
    position:absolute;
    left:2px;
    top:31px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:848px;
    top:367px;
    width:92px;
    height:78px
}

.u61_original {
    background-image: url('../Admission_files/u61_original.png');
}

.u61_container {
    position:absolute;
    left:800px;
    top:445px;
    width:140px;
    height:6px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:6px;
}

.u62 {
    position:absolute;
    left:2px;
    top:-5px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:800px;
    top:445px;
    width:140px;
    height:6px
}

