body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Academics_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:178px;
    top:209px;
    width:622px;
    height:92px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:628px;
    height:98px;
}

.u1 {
    position:absolute;
    left:2px;
    top:38px;
    width:618px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:178px;
    top:209px;
    width:622px;
    height:92px
}

.u2_original {
    background-image: url('../Academics_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:170px;
    top:301px;
    width:610px;
    height:560px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:616px;
    height:566px;
}

.u3 {
    position:absolute;
    left:2px;
    top:272px;
    width:606px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:170px;
    top:301px;
    width:610px;
    height:560px
}

.u4_original {
    background-image: url('../Academics_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:305px;
    width:180px;
    height:554px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:560px;
}

.u5 {
    position:absolute;
    left:2px;
    top:269px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:0px;
    top:305px;
    width:180px;
    height:554px
}

.u6_original {
    background-image: url('../Academics_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:780px;
    top:301px;
    width:180px;
    height:560px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:566px;
}

.u7 {
    position:absolute;
    left:2px;
    top:272px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:780px;
    top:301px;
    width:180px;
    height:560px
}

.u8_original {
    background-image: url('../Academics_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:209px;
    width:180px;
    height:80px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u9 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:0px;
    top:209px;
    width:180px;
    height:80px
}

.u10_original {
    background-image: url('../Academics_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:780px;
    top:209px;
    width:180px;
    height:92px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:98px;
}

.u11 {
    position:absolute;
    left:2px;
    top:38px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:780px;
    top:209px;
    width:180px;
    height:92px
}

.u12_original {
    background-image: url('../Academics_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:7px;
    width:960px;
    height:150px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:960px;
    height:150px;
}

.u13 {
    position:absolute;
    left:2px;
    top:67px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:0px;
    top:7px;
    width:960px;
    height:150px
}

.u14_original {
    background-image: url('../Academics_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:1px;
    width:960px;
    height:5px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:11px;
}

.u15 {
    position:absolute;
    left:2px;
    top:-6px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:0px;
    top:1px;
    width:960px;
    height:5px
}

.u16_original {
    background-image: url('../Academics_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:37px;
    top:32px;
    width:99px;
    height:87px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:99px;
    height:87px;
}

.u17 {
    position:absolute;
    left:2px;
    top:36px;
    width:95px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:37px;
    top:32px;
    width:99px;
    height:87px
}

.u18 {
    position:absolute;
    left:794px;
    top:20px;
    width:170px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_original {
    background-image: url('../Academics_files/u19_original.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:290px;
    width:960px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:0px;
    top:290px;
    width:960px;
    height:20px
}

.u21 {
    position:absolute;
    left:244px;
    top:236px;
    width:180px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_container {
    position:absolute;
    left:244px;
    top:316px;
    width:476px;
    height:226px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:476px;
    height:226px;
}

.u23 {
    position:absolute;
    left:2px;
    top:105px;
    width:472px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:244px;
    top:316px;
    width:476px;
    height:226px
}

.u24 {
    position:absolute;
    left:37px;
    top:357px;
    width:150px;
    height:342px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:784px;
    top:217px;
    width:170px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:182px;
    top:603px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:35px;
    top:291px;
    width:150px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_container {
    position:absolute;
    left:776px;
    top:340px;
    width:190px;
    height:280px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:190px;
    height:280px;
}

.u29 {
    position:absolute;
    left:2px;
    top:132px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:776px;
    top:340px;
    width:190px;
    height:280px
}

.u30 {
    position:absolute;
    left:790px;
    top:765px;
    width:170px;
    height:68px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:244px;
    top:557px;
    width:476px;
    height:76px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:246px;
    top:645px;
    width:474px;
    height:76px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_original {
    background-image: url('../Academics_files/u33_original.png');
}

.u33_container {
    position:absolute;
    left:788px;
    top:49px;
    width:161px;
    height:30px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:36px;
}

.u34 {
    position:absolute;
    left:2px;
    top:7px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:788px;
    top:49px;
    width:161px;
    height:30px
}

.u35 {
    position:absolute;
    left:790px;
    top:51px;
    width:158px;
    height:26px;
    ;
    ;
    text-align: left;;
    font-family:'Helvetica Neue';
    font-size: 10px;
    color:#555555;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
    
}

.u36_original {
    background-image: url('../Academics_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:927px;
    top:55px;
    width:20px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:927px;
    top:55px;
    width:20px;
    height:20px
}

.u38_original {
    background-image: url('../Academics_files/u38_original.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:161px;
    width:960px;
    height:39px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:45px;
}

.u39 {
    position:absolute;
    left:2px;
    top:12px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:0px;
    top:161px;
    width:960px;
    height:39px
}

.u40_text {
    position:absolute;
    left:60px;
    top:172px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:60px;
    top:172px;
    width:150px;
    height:20px
}

.u41_text {
    position:absolute;
    left:180px;
    top:172px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:180px;
    top:172px;
    width:150px;
    height:20px
}

.u42_text {
    position:absolute;
    left:380px;
    top:172px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:380px;
    top:172px;
    width:150px;
    height:20px
}

.u43_text {
    position:absolute;
    left:530px;
    top:172px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:530px;
    top:172px;
    width:150px;
    height:20px
}

.u44_text {
    position:absolute;
    left:700px;
    top:172px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:700px;
    top:172px;
    width:150px;
    height:20px
}

.u45_text {
    position:absolute;
    left:850px;
    top:172px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:850px;
    top:172px;
    width:150px;
    height:20px
}

.u46_original {
    background-image: url('../Academics_files/u46_original.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:206px;
    width:960px;
    height:5px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:11px;
}

.u47 {
    position:absolute;
    left:2px;
    top:-6px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:0px;
    top:206px;
    width:960px;
    height:5px
}

.u48_original {
    background-image: url('../Academics_files/u48_original.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:861px;
    width:960px;
    height:111px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:117px;
}

.u49 {
    position:absolute;
    left:2px;
    top:48px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:0px;
    top:861px;
    width:960px;
    height:111px
}

.u50_original {
    background-image: url('../Academics_files/u14_original.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:970px;
    width:960px;
    height:5px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:11px;
}

.u51 {
    position:absolute;
    left:2px;
    top:-6px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:0px;
    top:970px;
    width:960px;
    height:5px
}

.u52_original {
    background-image: url('../Academics_files/u52_original.png');
}

.u52_container {
    position:absolute;
    left:90px;
    top:881px;
    width:60px;
    height:60px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:60px;
}

.u53 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:90px;
    top:881px;
    width:60px;
    height:60px
}

.u54_original {
    background-image: url('../Academics_files/u14_original.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:856px;
    width:960px;
    height:5px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:11px;
}

.u55 {
    position:absolute;
    left:2px;
    top:-6px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:0px;
    top:856px;
    width:960px;
    height:5px
}

.u56 {
    position:absolute;
    left:180px;
    top:881px;
    width:300px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:713px;
    top:884px;
    width:160px;
    height:96px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

